<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form method="POST" action="/__auth/login">
        <label>
          <div>Name</div>
          <input type="text" name="username" />
        </label>
        <label>
          <div>Password</div>
          <input type="password" name="password" />
        </label>
        <input type="submit" value="Login" name="login" />
      </form>
      <p id="message"><%- fail ? 'Authorisation attempt failed' : '' %></p>
    </div>

    <script>
      // change title
      document.title = 'Log in to ' + location.host;

      // post password to /auth
      const login = (body) => {
        fetch('/login', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(body),
        })
          .then((response) => {
            console.log("response:", response);

            // check for auth failure for rejected credentials
            if (response.status === 401) return false;

            // check for auth failure for other reasons
            if (response.status !== 200) return false;

            // auth okay
            return response.json();
          })
          .then((data) => {
            console.log("data", data);

            if (data && data.status === 'ok') {
              // auth success, cookie should be set
              window.location.href = '/user/';
              return;
            }

            // auth failure, give feedback to user
            const message = document.getElementById('message');
            message.innerText = 'Authorisation attempt failed';
          })
          .catch((e) => {
            console.error(e);
            const message = document.getElementById('message');
            message.innerText = 'Authorisation attempt failed';
          });
      };

      const form = document.querySelector('form');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        const message = document.getElementById('message');
        message.innerText = 'Logging in...';
        const data = new FormData(event.currentTarget);
        const body = Object.fromEntries(data.entries());
        login(body);
      });
    </script>
  </body>
</html>
