<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password - <%= user %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container" id="content">
      <h1>Hello <%= user %></h1>
      <p><a href="./">Back to user page</a></p>

      <h3>Change your password</h3>
      <form method="POST">
        <label>
          <div>Old password</div>
          <input type="password" name="old-password" />
        </label>
        <label>
          <div>New password</div>
          <input type="password" name="password" />
        </label>
        <label>
          <div>New password again</div>
          <input type="password" name="password2" />
        </label>
        <div><%= message %></div>
        <button>Change</button>
      </form>
    </div>

    <script>
    </script>
  </body>
</html>
